.*
!.gitignore
!.helmignore
!.gitattributes
!.dockerignore
!.golangci.yml
!.gcloudignore
!.eslintrc.*
!.nycrc
!.clang-format
*.iml
bin
*.o
tmp
terraform.tfvars
terraform.tfstate*
build/local-includes/*
!build/local-includes/README.md
/release
debug.test
obj/